
numpy
pybind11
lark-parser
networkx

pytest

# for the repl
pygments
prompt_toolkit
path


# for accessing the JVM
pyjnius
# alternate JVM wrapper, will pick one of these eventally
jpype1
#
javabridge


# for representing Neural networks
# onnx
# pytorch

# jax
# jaxlib


ipdb
